@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


* {
	box-sizing: border-box;
}

body {
	background-color: #684ca1;
	/* background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%); */
	font-family: 'Nanum Gothic', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	
	height: 98vh;
}

.pw-container {
	background-color: #3f0d52;
	/* height: 250px; */
	min-width: 330px;
	max-width: 50%;
	/* max-width: 100%; */
}

.pw {
	background-color: #5a32aa;
	display: flex;
	/* justify-content: space-between; */
	text-align: center;
	overflow: hidden;
	/* width: 110%; */
	margin: 2%;
}

#pw {
	width: 98%;
	margin: 15px auto;
	overflow: hidden;
}

#copy {
	/* display:none; */
	background-image: url(./copy.jpg);
	width: 50px;
	
	outline: none;
	border-color: rgb(236, 195, 10);
	border-radius: 10%;
	vertical-align: middle;
}

/* #pw:hover + #copy, #copy:hover {
	display: inherit;
} */

.choice {
	display: flex;
	justify-content: space-between;
}

#length {
	width: 50px;
}

ul {
	list-style: none;
	margin: 5%;
	padding: 0;
}

#gen {
	background-color: rgb(236, 195, 10);
	color: #422c72;
	border: none;
	outline: none;
	display: block;
	font-family: inherit;
	font-size: 1.1rem;
	font-weight: bold;
	padding: 1.3rem;
	margin : 2% auto;
}

#gen:hover {
	background-color: rgb(184, 149, 9);
	color: #362161;
}
