* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  /* margin: 1.5rem; */
  font-size: 3.5rem;
}

ul {
  list-style-type: none;
}

img {
  width: 900px;
  height: 600px;
  object-fit: cover;
}

button {
  background-color: inherit;
  border: none;
}

button:hover {
  cursor: pointer;
}

.container {
  width: min-content;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 2%;
  margin: 2rem;
}

.tour-info {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.price {
  background-color: rgba(178, 229, 246, 0.404);
  color: deepskyblue;
  border-radius: 5%;
  padding: 0.25rem;
}

p {
  font-size: 1.5rem;
  text-align: left;
  color: rgb(114, 114, 114);
  padding: 1rem;
}

.read-me {
  font-size: 1.25rem;
  color: deepskyblue;
}

.delete {
  font-size: 1.25rem;
  color: rgb(206, 2, 2);
  margin: 0.75rem;
  padding: 0.5rem;
  border: 1px solid rgb(206, 2, 2);
  border-radius: 5px;
}

.underline {
  width: 6rem;
  height: 0.25rem;
  background: rgb(0, 140, 255);
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 920px) {
  img {
    width: 450px;
    height: 250px;
  }
}
