<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="login-user">
      <form action="/login" method="post">
        <label for="username">Username:</label>
        <input
          type="text"
          autocomplete="off"
          id="username"
          name="username"
          placeholder="Enter Username"
          value="<%= username %>"
          ;
          required
        />
        <div class="password-wrapper">
          <label for="password">Password:</label>
          <input
            type="password"
            autocomplete="off"
            id="password"
            name="password"
            placeholder="Enter Password"
            required
          />
          <span class="show-password" id="toggle-password">
            <i class="fas fa-eye fa-lg"></i>
          </span>
        </div>

        <%- warning %>
        <button id="submit-login" style="background: rgb(36, 0, 197)">
          Submit
        </button>
      </form>
    </div>
    <script>
      const toggleBtn = document.getElementById("toggle-password");

      toggleBtn.addEventListener("click", () => {
        const password = document.getElementById("password");
        if (password.type === "password") {
          password.type = "text";
        } else {
          password.type = "password";
        }
      });
    </script>
  </body>
</html>
